#### Group composition
- Alexandre Crivellari, 902064
- Andrea Muscio, 889901
- Alessandro Rota,
---------

You have to work on the [Dogs adoptions](https://drive.google.com/file/d/1wQsA0oB6wwYlnkvvcyBCmLk7QmgVWNax/view?usp=sharing) dataset. 

It contains three files:
*  `dogs.csv`, shortly *dogs*
*  `dogTravel.csv`, shortly *travels*
*  `NST-EST2021-POP.csv`

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).
1.    At most 3 students can be in each group. You must create the groups by yourself.
1.    You do not have to send me the project *before* the discussion.

### 0. Libraries & Data Preparation

First, we upload the three datasets to the Jupyter notebook. We will upload them directly onto a shared GitHub Repository, in order to maintain a history record for all the changes in the code. In addition, by doing so we will make sure that the original csv files will always be available, whatever the platform.

In [1]:
import pandas as pd
import numpy as np

# Below we change some Pandas options, in order to better explore our dataframes in the output cells.
pd.options.display.max_columns = 50 #Changes the number of columns diplayed (default is 20)
pd.options.display.max_rows = 250 #Changes the number of rows diplayed (default is 60)
pd.options.display.max_colwidth = 250 #Changes the number of characters in a cell so that the contents don't get truncated (default is 50)

# Now we proceed by reading our datasets.
dogs = pd.read_csv('https://github.com/alexcri90/FoCS/raw/main/Datasets/dogs.csv')
travels = pd.read_csv('https://github.com/alexcri90/FoCS/raw/main/Datasets/dogTravel.csv')
nst = pd.read_csv('https://github.com/alexcri90/FoCS/raw/main/Datasets/NST-EST2021-POP.csv')

We need to take a glance at the three datasets uploaded, in order to understand if everything has been read correctly.

In [2]:
dogs.head()

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,color_tertiary,age,sex,size,coat,fixed,house_trained,declawed,special_needs,shots_current,env_children,env_dogs,env_cats,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/nv/las-vegas/animal-network-nv163/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Senior,Male,Medium,Short,True,True,NaN,False,True,NaN,NaN,NaN,HARLEY,adoptable,2019-09-20T16:37:59+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter in his senior years but as you see from the pictures the shelter asked if we could find a real home for this active senior boy. You would never know he is 9 years old. Very playful and loves humans an...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/nv/las-vegas/animal-network-nv163/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,White / Cream,NaN,Adult,Male,Large,Short,True,True,NaN,False,True,NaN,NaN,NaN,BIGGIE,adoptable,2019-09-20T16:24:57+0000,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,"6 year old Biggie has lost his home and really wants a home of his own. We are getting more information about him, does well with other dogs if introduced properly. We know he is a big cuddle bunny but more info and pictures will be up Sunday. If...",49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/nv/mesquite/city-of-mesquite-animal-shelter-nv99/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Shepherd,NaN,False,False,Brindle,NaN,NaN,Adult,Male,Large,Short,True,False,NaN,False,True,NaN,NaN,NaN,Ziggy,adoptable,2019-09-20T14:10:11+0000,Mesquite,NV,89027,US,89009,2019-09-20,Dog,"Approx 2 years old.\n Did I catch your eye? I don't blame you if you had to stop and stare, I am quite cute if I do say so myself. I'm Ziggy and I think you look like a wonderful choice for my forever friend! I don't give my heart away at the dr...",87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/nv/pahrump/pets-are-worth-saving-paws-nv202/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,NaN,NaN,Baby,Female,Large,NaN,False,False,NaN,False,False,NaN,NaN,NaN,Gypsy,adoptable,2019-09-20T10:08:22+0000,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv/henderson/wagging-tails-rescue-nv184/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Dachshund,NaN,False,False,NaN,NaN,NaN,Young,Male,Small,Long,True,False,NaN,False,True,True,True,True,Theo,adoptable,2019-09-20T06:48:30+0000,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets along well with other dogs in his size range. This cute boy is on the submissive side and will thrive in a home with lots of love to grow his confidence. He is approximately 8 lbs and 1 year old. Meet me ...,93,241.09

In [3]:
travels.head()

,index,id,contact_city,contact_state,description,found,manual,remove,still_there
0,0,44520267,Anoka,MN,"Boris is a handsome mini schnauzer who made his long trek up her from Arkansas on 4/2019. He loves rope toys and running around his foster mom's yard. \n\nHe is 4 years old, just under 10 pounds, and is a special needs dog. He needs vitamin B-12 ...",Arkansas,NaN,NaN,NaN
1,1,44698509,Groveland,FL,"Duke is an almost 2 year old Potcake from Abacos in the Bahamas. He is a happy boy, who loves his toys and bones, getting loving, riding in the car, snuggling on the couch and is a bit of a prankster. We suggest a home without other dogs because ...",Abacos,Bahamas,NaN,NaN
2,2,45983838,Adamstown,MD,"Zac Woof-ron is a heartthrob movie star looking to settle down with the right person! \n\nAs you know from his movie career, Zac is a 2-year-old, purebred red heeler male, about 37 pounds and high energy. After finishing his press tour for his la...",Adam,Maryland,NaN,NaN
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from another rescue ~~Interacted with other dogs and was cautious around them ~~Unknown if he has had a chance to meet children or cats ~~Slow and proper introductions are recommended; ask a staff member for...,Adaptil,NaN,True,NaN
4,4,43877389,Pueblo,CO,"Palang is such a sweetheart. She loves her people very much and likes getting loved on. She can be shy at first. She came from Afghanistan so we arenât sure of her breed. She is partially deaf. She does have a bite history, so will need a home ...",Afghanistan,NaN,NaN,NaN

An index column is already provided in the dataset: we can use that as the default index for the _travels_ dataframe.

In [4]:
travels.set_index('index', inplace=True)
travels

,id,contact_city,contact_state,description,found,manual,remove,still_there
index,,,,,,,,
0,44520267,Anoka,MN,"Boris is a handsome mini schnauzer who made his long trek up her from Arkansas on 4/2019. He loves rope toys and running around his foster mom's yard. \n\nHe is 4 years old, just under 10 pounds, and is a special needs dog. He needs vitamin B-12 ...",Arkansas,NaN,NaN,NaN
1,44698509,Groveland,FL,"Duke is an almost 2 year old Potcake from Abacos in the Bahamas. He is a happy boy, who loves his toys and bones, getting loving, riding in the car, snuggling on the couch and is a bit of a prankster. We suggest a home without other dogs because ...",Abacos,Bahamas,NaN,NaN
2,45983838,Adamstown,MD,"Zac Woof-ron is a heartthrob movie star looking to settle down with the right person! \n\nAs you know from his movie career, Zac is a 2-year-old, purebred red heeler male, about 37 pounds and high energy. After finishing his press tour for his la...",Adam,Maryland,NaN,NaN
3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from another rescue ~~Interacted with other dogs and was cautious around them ~~Unknown if he has had a chance to meet children or cats ~~Slow and proper introductions are recommended; ask a staff member for...,Adaptil,NaN,True,NaN
4,43877389,Pueblo,CO,"Palang is such a sweetheart. She loves her people very much and likes getting loved on. She can be shy at first. She came from Afghanistan so we arenât sure of her breed. She is partially deaf. She does have a bite history, so will need a home ...",Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc.org) for more information about this pet.\n\nMy name is Daenerys (Daeny for short) and I am a Beagle/Pit mix about 5 years old weighing 45 pounds. I came to Pet Helpers with my 6 surviving pups and 2 ...,WV,NaN,True,NaN
6190,45799729,Eagle Mountain,UT,"Shiny is an approximately 4-6-year-old spayed Bull Breed mix. She came from a shelter in Wyoming, so we dont know anything about her prior history. She is an amazing girl with so many wonderful qualities. But, like all of us, she has some things ...",Wyoming,NaN,NaN,NaN
6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescued from a high kill shelter with his girlfriend Yazmin. Yazmin and Yanni are a bonded pair and must be adopted together.\n\nPlease DO NOT send an email to us from the PetFinder CONTACT button. It will...,Yazmin,NaN,True,NaN
6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner died and whose family couldn't keep her permanently. So she made the trip from Cincinnati to Youngstown where she slid into foster home easily.\n\nThis girl weighs about 7 1/2 pounds and is fully vett...,Young,Ohio,NaN,NaN
6193,36659999,New York,NY,"This guy loves to be outside so a person w/ a lot of outdoor time and then snuggly time is his Zazu's ideal home. But he is for EXPERIENCED adopters only, preferably 1-2 people in the home and no children and not a City environment. \n\n5y 38lb...",Zazu,NaN,True,NaN

The first row of the _nst_ dataframe has been wrongly uploaded as the header for our dataframe. We need to reset the headers as well.

In [5]:
nst = pd.read_csv('https://github.com/alexcri90/FoCS/raw/main/Datasets/NST-EST2021-POP.csv', header=None)
nst.columns = ['state', 'pop']
nst

                   state         pop
0                Alabama   5.024.279
1                 Alaska     733.391
2                Arizona   7.151.502
3               Arkansas   3.011.524
4             California  39.538.223
5               Colorado   5.773.714
6            Connecticut   3.605.944
7               Delaware     989.948
8   District of Columbia     689.545
9                Florida  21.538.187
10               Georgia  10.711.908
11                Hawaii   1.455.271
12                 Idaho   1.839.106
13              Illinois  12.812.508
14               Indiana   6.785.528
15                  Iowa   3.190.369
16                Kansas   2.937.880
17              Kentucky   4.505.836
18             Louisiana   4.657.757
19                 Maine   1.362.359
20              Maryland   6.177.224
21         Massachusetts   7.029.917
22              Michigan  10.077.331
23             Minnesota   5.706.494
24           Mississippi   2.961.279
25              Missouri   6.154.913
26               Montana   1.084.225
27              Nebraska   1.961.504
28                Nevada   3.104.614
29         New Hampshire   1.377.529
30            New Jersey   9.288.994
31            New Mexico   2.117.522
32              New York  20.201.249
33        North Carolina  10.439.388
34          North Dakota     779.094
35                  Ohio  11.799.448
36              Oklahoma   3.959.353
37                Oregon   4.237.256
38          Pennsylvania  13.002.700
39          Rhode Island   1.097.379
40        South Carolina   5.118.425
41          South Dakota     886.667
42             Tennessee   6.910.840
43                 Texas  29.145.505
44                  Utah   3.271.616
45               Vermont     643.077
46              Virginia   8.631.393
47            Washington   7.705.281
48         West Virginia   1.793.716
49             Wisconsin   5.893.718
50               Wyoming     576.851

Now that everything is set we can proceed witht he exercises.

### 1. Extract all dogs with status that is not *adoptable*

In [6]:
# Checking if there is a "status" attribute in the Dogs dataset
dogs.columns

Index(['id', 'org_id', 'url', 'type.x', 'species', 'breed_primary',
       'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary',
       'color_secondary', 'color_tertiary', 'age', 'sex', 'size', 'coat',
       'fixed', 'house_trained', 'declawed', 'special_needs', 'shots_current',
       'env_children', 'env_dogs', 'env_cats', 'name', 'status', 'posted',
       'contact_city', 'contact_state', 'contact_zip', 'contact_country',
       'stateQ', 'accessed', 'type.y', 'description', 'stay_duration',
       'stay_cost'],
      dtype='object')

In [7]:
# Filtering for all dogs that have a "status" attribute different from "adoptable"
dogs[dogs.status != 'adoptable']

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,color_tertiary,age,sex,size,coat,fixed,house_trained,declawed,special_needs,shots_current,env_children,env_dogs,env_cats,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41330726/nv/las-vegas/vegas-shepherd-rescue-nv173/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,NaN,NaN,Young,Male,Large,NaN,False,False,NaN,False,False,NaN,NaN,NaN,"Gunther :Gunny\"",Meet handsome 3 year old Gunther. Gunther came to us after being returned to the local shelter for putting his...",2018-04-05T05:18:31+0000,Las Vegas,NV,89146,US,89009,2019-09-20,NaN,Dog,Meet handsome 3 year old Gunther. Gunther came to us after being returned to the local shelter for putting his mouth on somebodyâs arm. He then developed a hematoma on his neuter site and had to have an additional surgery to correct it. He is h...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-38169117/az/chandler/underdog-rescue-of-az-az414/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,White / Cream,NaN,Adult,Female,Large,Short,True,True,NaN,False,True,NaN,NaN,False,"ANNABELLE \ANNIE\"",""You can fill out an adoption application online on our official website.\n\nMEET ANNABELLE or ANNIE !!!!!\n\n MEET ANNABELLE!! \n\n ANNABELLE...",2017-05-26T21:43:16+0000,Chandler,AZ,85249,US,AZ,2019-09-20,NaN,Dog,You can fill out an adoption application online on our official website.\n\nMEET ANNABELLE or ANNIE !!!!!\n\n MEET ANNABELLE!! \n\n ANNABELLE loves to play with both other dogs and humans of all ages (although she can be rude with introductions...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-listing-45833989/ny/albany/peppertree-rescue-ny98/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Beagle,NaN,False,False,NaN,NaN,NaN,Senior,Male,Medium,Short,True,True,NaN,False,True,True,True,True,"PEPPER \Courtesy listing\"",""This is Pepper. He is a 15 year old tri-color beagle. He is 32 lbs and can still run a...",2019-09-01T15:12:06+0000,Albany,NY,12220,US,CT,2019-09-20,NaN,Dog,"This is Pepper. He is a 15 year old tri-color beagle. He is 32 lbs and can still run a mile! He gets along with adults and children of all ages, and socializes easily with other dogs and cats. He doesnât bark very much and only does the classic...",86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-listing-45515547/ny/albany/peppertree-rescue-ny98/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Mixed Breed,NaN,False,False,NaN,NaN,NaN,Senior,Male,Medium,Short,True,True,NaN,False,True,NaN,NaN,False,"COOPER \courtesy listing\"",""Cooper is 13 years old, but according to a very recent vet visit he is in perfect health. He is...",2019-08-06T12:15:58+0000,Albany,NY,12220,US,CT,2019-09-20,NaN,Dog,"Cooper is 13 years old, but according to a very recent vet visit he is in perfect health. He is still very energetic for an older dog and loves going for walks, but spends most of his time lounging around the house. He knows a lot of commands and...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-listing-45294115/ny/albany/peppertree-rescue-ny98/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,White / Cream,NaN,Senior,Female,Medium,Short,True,True,NaN,False,True,False,False,NaN,"DAISY \courtesy listing\"",""•Basset Hound, female, •10 years \n\nDelightful Daisy is a friendly girl looking for a retirement home! Daisy is a spry...",2019-07-18T14:20:58+0000,Albany,NY,12220,US,CT,2019-09-20,NaN,Dog,"â¢Basset Hound, female, â¢10 years \n\nDelightful Daisy is a friendly girl looking for a retirement home! Daisy is a spry 10 who greets people with a wagging tail and a hop so it is easy to pet her. She also enjoys walks, snuggling on the couch...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-45229004/ny/saugerties/ulster-county-canines-ny1436/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,American Bulldog,NaN,True,False,NaN,NaN,NaN,Senior,Male,Large,Short,True,True,NaN,False,True,True,True,NaN,"Elmo \MoMo\"",""Hello i&#039;m MoMo or Elmo , 7 year old, mixed breed! I can&#039;t wait to have a family of my...",2019-07-11T20:34:42+0000,Saugerties,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed breed! I can't wait to have a family of my own. I want to enjoy my life and just be loved in a furever. I can be goofy and silly but also a mellow boy. I might be older but i know i still enjoy adventure...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-45227052/ny/saugerties/ulster-county-canines-ny1436/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,NaN,NaN,Senior,Female,Medium,Short,True,True,NaN,False,True,True,True,NaN,"Bianca \Pinky\"",""Hello I&#039;m Bianca, a female, 7 year old mixed breed. I enjoy not only getting but giving love. I came...",2019-07-11T14:16:38+0000,Saugerties,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello I'm Bianca, a female, 7 year old mixed breed. I enjoy not only getting but giving love. I came from a poopy situation so my fur/skin isn't in the best condition but i'm getting better everyday! I am big on getting and giving out love, i esp...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-45569380/va/bristow/american-maltese-association-rescue-ca1209/?referrer_id=9825d0c8-29d4-4feb-9841-e9bfcd37fd1b,Dog,Dog,Maltese,NaN,False,False,White / Cream,NaN,NaN,Senior,Female,Small,Short,True,True,NaN,False,True,True,True,NaN,"\Baby Girl\"",""This 10-year young senior is very sweet and loving. She weighs 9.5 lbs, heart worm negative, up-to-date on shots, micro-chipped,...",2019-08-10T16:00:35+0000,Bristow,VA,20136,US,DC,2019-09-20,NaN,Dog,"This 10-year young senior is very sweet and loving. She weighs 9.5 lbs, heart worm negative, up-to-date on shots, micro-chipped, and has been scheduled for a spay and dental. She likes to play with her human and the other fosters but loves to be ...",76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie-44694387/md/silver-spring/master-md295/?referrer_id=9825d0c8-29d4-4feb-9841-e9bfcd37fd1b,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,NaN,NaN,Young,Male,Small,Short,True,False,NaN,False,True,False,NaN,False,"King Bert \Bertie\"",""&quot;Bertie&quot; came to us from the shelter. He was found stray in the inner city. He had some skin issues...",2019-05-14T21:09:27+0000,Silver Spring,MD,20905,US,DC,2019-09-20,NaN,Dog,"\""Bertie\"" came to us from the shelter. He was found stray in the inner city. He had some skin issues when he came, probably due to poor diet and care, but everything is great now and he is ready for his new life.\n\nBertie is a dog that needs ...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-patootie-36978896/pa/gettysburg/chesapeake-area-alaskan-malamute-protection-va127/?referrer_id=9825d0c8-29d4-4feb-9841-e9bfcd37fd1b,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,NaN,NaN,Adult,Female,Large,NaN,True,True,NaN,False,True,NaN,NaN,False,"Maddie \Cutie Patootie!\"",""Maddie is our little Miss Cutie Patootie! She is a short and stocky malamute girl with so much personality. She...",2016-12-15T13:33:43+0000,Gettysburg,PA,17325,US,DC,2019-09-20,NaN,Dog,Maddie is our little Miss Cutie Patootie! She is a short and stocky malamute girl with so much personality. She is guaranteed to make you smile every day with her paw up for high fives and zoomies. Maddie was born October 2011. She is easy and in...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-hooman-33218331/pa/gettysburg/chesapeake-area-alaskan-malamute-protection-va127/?referrer_id=9825d0c8-29d4-4feb-9841-e9bfcd37fd1b,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,NaN,NaN,Adult,Male,Large,Medium,True,True,NaN,False,True,NaN,NaN,False,"Bucky \Are u my hooman?\"",""Born in August 2014, Bucky has a great sense of humor and is full of personality. He would love to...",2015-09-07T12:57:27+0000,Gettysburg,PA,17325,US,DC,2019-09-20,NaN,Dog,"Born in August 2014, Bucky has a great sense of humor and is full of personality. He would love to be your hiking companion followed by a picnic with a chicken sandwich. He LOVES car rides and visiting the nearby pet stores where all the goodies...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-rascal-42092005/pa/media/the-rescue-express-pa738/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,White / Cream,NaN,Adult,Female,Medium,Short,True,False,NaN,False,True,True,True,NaN,"CHLOE \LITTLE RASCAL\"",""Meet Chloe our &quot;Little Rascal.&quot;\n\nThis adorable pointer/boxer/pittie???? mix is approximately 2 years old and weighs around 42 lbs.\n\nCHLOE...",2018-07-05T00:55:08+0000,Media,PA,19063,US,DE,2019-09-20,NaN,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-loves-children-cuddlebug-39594038/pa/feasterville/wags-rescue-and-referral-pa562/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,NaN,NaN,Young,Female,Medium,Short,True,True,NaN,False,True,True,True,NaN,"COZI H WILSON \loves children, cuddlebug\"",""01.04.19\nHi Folks! I’m Cozi and I’m so glad you clicked my picture. It’s 2019, and I hope this is...",2017-10-07T23:48:20+0000,Feasterville,PA,19053,US,DE,2019-09-20,NaN,Dog,"01.04.19\nHi Folks! Iâm Cozi and Iâm so glad you clicked my picture. Itâs 2019, and I hope this is my year I get to go to a fur-ever family! Iâve been in Pennsylvania since October 2017, and although I totally love my foster family, Iâm...",88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gibbs-45895274/il/paris/rescue-me-clifford-il688/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,NaN,NaN,Young,Male,Large,Short,True,True,NaN,False,True,True,True,False,"Gibson Edgar \Gibbs\"",""Gibson Edgar is a 12 month old male Lab mix that weighs 71.6 pounds.\nGibson likes to be called &quot;Gibbs&quot;....",2019-09-07T04:09:12+0000,Paris,IL,61944,US,IL,2019-09-20,NaN,Dog,"Gibson Edgar is a 12 month old male Lab mix that weighs 71.6 pounds.\nGibson likes to be called \""Gibbs\"". Gibbs was picked up by animal control.\nHe had escaped his yard,. His owners relinquished him to animal control and Rescue Me Clifford tho...",74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-45964719/in/mooresville/the-four-legged-ranch-in694/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,White / Cream,NaN,Baby,Female,Medium,Short,False,False,NaN,False,True,True,True,NaN,"PUPPIES \Berries\"",""11 Berry Pups\nIndividual pics will be done. \n5 boys and 6 girls",2019-09-13T19:39:28+0000,Mooresville,IN,46158,US,IN,2019-09-20,NaN,Dog,11 Berry Pups\nIndividual pics will be done. \n5 boys and 6 girls,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-post-44538917/oh/ross/tails-of-hope-animal-rescue-oh907/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",NaN,NaN,Adult,Female,Medium,Short,True,True,NaN,False,True,NaN,NaN,NaN,"Leila \COURTESY POST\"",""THIS IS A COURTESY POST (this means that any applications will be forwarded to Leila&#039;s current family for processing and...",2019-04-25T01:56:52+0000,Ross,OH,45061,US,IN,2019-09-20,NaN,Dog,THIS IS A COURTESY POST (this means that any applications will be forwarded to Leila's current family for processing and approval)\n\n\nâIt is with a heavy heart that we need to re-home our beloved family dog. Leila is approximately 4 years old...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training-41430442/oh/ross/tails-of-hope-animal-rescue-oh907/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Hound,NaN,True,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Adult,Female,Medium,Short,True,False,NaN,False,True,NaN,False,NaN,"Eden \In Training\"",""Eden is estimated 3 years old and weighs 40 lbs \n\nEden is a 3 year old girl that attaches to...",2018-04-18T13:45:46+0000,Ross,OH,45061,US,IN,2019-09-20,NaN,Dog,"Eden is estimated 3 years old and weighs 40 lbs \n\nEden is a 3 year old girl that attaches to her human very quickly. She is very sweet and would do best as an only dog and in a calm household. \nEden is crate trained, leash, and potty trained. ...",97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack-45907639/in/jeffersonville/chibis-furiends-in714/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,NaN,NaN,Adult,Male,Small,Short,True,True,NaN,False,True,True,True,NaN,"Coach Chris \Mack\"",""Mack is a 2 year old, 13 pound furry chihuahua, beagle mix. He is a sweet and loving boy, but...",2019-09-08T18:21:21+0000,Jeffersonville,IN,47131,US,KY,2019-09-20,NaN,Dog,"Mack is a 2 year old, 13 pound furry chihuahua, beagle mix. He is a sweet and loving boy, but is a little timid upon first meeting strangers. Give him treats and he will be your best friend! \n\nHe is dog friendly, house trained, and crate traine...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45362806/oh/cincinnati/recycled-doggies-oh852/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Pomeranian,NaN,False,False,NaN,NaN,NaN,Adult,Female,Small,Long,True,False,NaN,False,True,False,True,True,"Liberty \Libby\"",""Liberty came to us on the 3rd of July - she had been picked up as a stray by animal...",2019-07-25T19:53:21+0000,Cincinnati,OH,45249,US,KY,2019-09-20,NaN,Dog,Liberty came to us on the 3rd of July - she had been picked up as a stray by animal control and no one ever came looking for her at the shelter. Probably because she had a very large hernia as well as a second hernia and needed medical care ASAP....,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590894/in/paoli/great-babies-rescue-inc-in595/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,NaN,NaN,Adult,Male,Extra Large,NaN,False,False,NaN,False,False,NaN,NaN,NaN,"Samson \Sam\"",""DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPDATES WE CAN NOT REPLY TO EMAILS SENT THROUGH THE PETFINDER SYSTEM. PLEASE...",2015-06-29T23:58:09+0000,Paoli,IN,47454,US,KY,2019-09-20,NaN,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPDATES WE CAN NOT REPLY TO EMAILS SENT THROUGH THE PETFINDER SYSTEM. PLEASE EMAIL US DIRECTLY AT GREATBABIESRESCUE@YAHOO.COM OR CALL TERRY AT 812-653-1985 THANK YOU.,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-31426754/la/lake-charles/lake-charles-pit-bull-rescue-la256/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,NaN,NaN,Young,Male,Medium,Short,True,True,NaN,False,True,NaN,NaN,NaN,"Sully \Sullivan\"",""Hi my name is Sully! I get along with most dogs, and do great with children. I love to go...",2015-02-07T13:06:43+0000,lake charles,LA,70601,US,LA,2019-09-20,NaN,Dog,"Hi my name is Sully! I get along with most dogs, and do great with children. I love to go rides in the car, and I'm looking for my forever family to take me on rides. \n\nThere is an adoption form that must be completed and reviewed and approved....",122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-46037827/nm/albuquerque/enchantmutts-inc-nm133/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,White / Cream,NaN,Adult,Female,Medium,Medium,True,True,NaN,False,True,True,True,NaN,"PERIWINKLE \WINK\"",""We take the time to post pertinent information about our dogs and that information can be found below. Our dogs...",2019-09-20T01:50:51+0000,Albuquerque,NM,87108,US,NM,2019-09-20,NaN,Dog,We take the time to post pertinent information about our dogs and that information can be found below. Our dogs are fostered in homes so we know them well. If it appears you would be interested in one of our dogs and you fit the requirements for ...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddington-44044071/tn/cookeville/open-heart-animal-rescue-tn669/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,NaN,NaN,Adult,Male,Medium,Medium,True,False,NaN,False,False,True,NaN,False,"Raymond \Reddington\"",""Red is a 4-5 yr old Staffey mix that is a wiggle worm! This glorious boy is super energetic and...",2019-02-18T12:02:48+0000,Cookeville,TN,38506,US,TN,2019-09-20,NaN,Dog,Red is a 4-5 yr old Staffey mix that is a wiggle worm! This glorious boy is super energetic and playful. Never meets a stranger. PERSONALITY PLUS!!! UTD on vaccinations. Needs a safe secure yard. (Pending testing with other dogs),88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie-27521132/tn/nashville/robyns-nest-animal-rescue-tn577/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,NaN,NaN,Adult,Female,Large,Short,True,True,NaN,False,True,True,False,False,"Norma Rose \ROSIE\"",""Robyn&#039;s Nest Animal Rescue &amp;amp; SanctuaryNashville, TN &amp;nbsp;email: rbynesnest@yahoo.com Norma (lab/boxer/ABD mix) needs a new foster home or a FUREVER...",2013-10-10T13:57:39+0000,Nashville,TN,37189,US,TN,2019-09-20,NaN,Dog,"Robyn's Nest Animal Rescue & SanctuaryNashville, TN Â email: rbynesnest@yahoo.com Norma (lab/boxer/ABD mix) needs a new foster home or a FUREVER HOME, her 1st foster was only temporary and they can no longer foster her. She is gentle, sweet and l...",93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-38473806/va/rustburg/harmony-rescue-inc-va486/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Hound,NaN,False,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Adult,Male,Large,Short,False,True,NaN,False,True,True,True,NaN,"Markey \Moose\"",""Markey &quot;Moose&quot; first came to us after being found as a stray in another county, starved. \nSomeone thought it was...",2017-06-16T18:44:33+0000,Rustburg,VA,24588,US,VA,2019-09-20,NaN,Dog,"Markey \""Moose\"" first came to us after being found as a stray in another county, starved. \nSomeone thought it was their dog Moose. When we called him \""Moose\"" he came right to us. Although it ended up not being their long lost dog, the name st...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-george-34101432/va/midlothian/houlagans-rest-corporation-va628/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,White / Cream,NaN,Young,Male,Medium,Short,True,False,NaN,False,True,NaN,NaN,NaN,"George \Boy George\"",""Contact dojennings@Comcast.net or Debbie Jennings 804-337-1658.\n\nI am &quot;Boy George&quot;, the awesome hiking pup. I love car rides, hikes, and...",2015-12-25T12:28:30+0000,Midlothian,VA,23112,US,VA,2019-09-20,NaN,Dog,"Contact dojennings@Comcast.net or Debbie Jennings 804-337-1658.\n\nI am \""Boy George\",115,320.23

### 2. For each (primary) breed, determine the number of dogs

In [8]:
dogs.groupby('breed_primary').size() # We use the .size() method, instead of .count(), in order to include possible unaccounted NULL values.

breed_primary
Affenpinscher                                 17
Afghan Hound                                   4
Airedale Terrier                              19
Akbash                                         3
Akita                                        181
Alaskan Malamute                              72
American Bulldog                            1134
American Eskimo Dog                           43
American Foxhound                             17
American Hairless Terrier                      4
American Staffordshire Terrier              1862
Anatolian Shepherd                           118
Australian Cattle Dog / Blue Heeler          973
Australian Kelpie                             43
Australian Shepherd                          696
Australian Terrier                            15
Basenji                                       54
Basset Hound                                 241
Beagle                                      1539
Bearded Collie                                 6
Beauceron                                      4
Belgian Shepherd / Laekenois                   1
Belgian Shepherd / Malinois                   94
Belgian Shepherd / Sheepdog                    3
Belgian Shepherd / Tervuren                    2
Bernese Mountain Dog                          20
Bichon Frise                                  82
Black Labrador Retriever                     545
Black Mouth Cur                              201
Black and Tan Coonhound                       88
Bloodhound                                    54
Blue Lacy                                     13
Bluetick Coonhound                            92
Boerboel                                       8
Bolognese                                      1
Border Collie                                817
Border Terrier                                28
Borzoi                                         6
Boston Terrier                               149
Bouvier des Flandres                           1
Boxer                                       2050
Boykin Spaniel                                 1
Briard                                         1
Brittany Spaniel                              31
Brussels Griffon                              24
Bull Terrier                                 176
Bullmastiff                                   55
Cairn Terrier                                 91
Canaan Dog                                    17
Cane Corso                                    83
Cardigan Welsh Corgi                          26
Carolina Dog                                  61
Catahoula Leopard Dog                        488
Cattle Dog                                   444
Caucasian Sheepdog / Caucasian Ovtcharka       3
Cavalier King Charles Spaniel                 23
Chesapeake Bay Retriever                      23
Chihuahua                                   3766
Chinese Crested Dog                           18
Chinese Foo Dog                                1
Chinook                                        1
Chocolate Labrador Retriever                 155
Chow Chow                                    165
Clumber Spaniel                                4
Cockapoo                                      17
Cocker Spaniel                               209
Collie                                       236
Coonhound                                    286
Corgi                                        128
Coton de Tulear                                2
Curly-Coated Retriever                         2
Dachshund                                    853
Dalmatian                                     77
Doberman Pinscher                            267
Dogo Argentino                                34
Dogue de Bordeaux                             22
Dutch Shepherd                                63
English Bulldog                              177
English Cocker Spaniel                         2
English Coonhound                             30
English Foxhound                               4
English Pointer                               90
English Setter                                28
English Shepherd                              20
English Springer Spaniel                      35
Entlebucher                                    2
Eskimo Dog                                     8
Feist                                        139
Field Spaniel                                  1
Fila Brasileiro                                1
Finnish Spitz                                  5
Flat-Coated Retriever                         43
Fox Terrier                                   40
Foxhound                                     100
French Bulldog                                46
Galgo Spanish Greyhound                        8
German Pinscher                                7
German Shepherd Dog                         2122
German Shorthaired Pointer                    88
German Spitz                                   2
German Wirehaired Pointer                     10
Giant Schnauzer                                6
Golden Retriever                             203
Gordon Setter                                  2
Great Dane                                   334
Great Pyrenees                               481
Greater Swiss Mountain Dog                     7
Greyhound                                    306
Harrier                                       14
Havanese                                      24
Hound                                       2282
Husky                                        567
Ibizan Hound                                   5
Irish Setter                                   8
Irish Terrier                                 17
Irish Wolfhound                               17
Italian Greyhound                             66
Jack Russell Terrier                         637
Japanese Chin                                 15
Jindo                                         46
Kai Dog                                        1
Keeshond                                       4
Kuvasz                                         1
Kyi Leo                                        2
Labrador Retriever                          7198
Lakeland Terrier                               5
Lancashire Heeler                              4
Leonberger                                     1
Lhasa Apso                                    60
Maltese                                      183
Manchester Terrier                            39
Maremma Sheepdog                               4
Mastiff                                      301
McNab                                          5
Miniature Dachshund                            3
Miniature Pinscher                           317
Miniature Poodle                              12
Miniature Schnauzer                           26
Mixed Breed                                 3242
Mountain Cur                                 168
Mountain Dog                                  16
Neapolitan Mastiff                             9
Newfoundland Dog                              26
Norfolk Terrier                                5
Norwegian Buhund                               2
Norwegian Elkhound                             6
Norwich Terrier                                6
Nova Scotia Duck Tolling Retriever             5
Old English Sheepdog                           1
Otterhound                                     2
Papillon                                      59
Parson Russell Terrier                        70
Patterdale Terrier / Fell Terrier             16
Pekingese                                     76
Pembroke Welsh Corgi                           9
Petit Basset Griffon Vendeen                  12
Pharaoh Hound                                 11
Pit Bull Terrier                            7890
Plott Hound                                  265
Pointer                                      367
Pomeranian                                   252
Poodle                                       304
Portuguese Podengo                             4
Presa Canario                                 27
Pug                                          255
Rat Terrier                                  338
Redbone Coonhound                            104
Retriever                                    538
Rhodesian Ridgeback                           74
Rottweiler                                   533
Rough Collie                                   6
Saint Bernard                                102
Saluki                                        19
Samoyed                                        8
Schipperke                                    22
Schnauzer                                    200
Scottish Terrier                              13
Setter                                        10
Shar-Pei                                     249
Sheep Dog                                      3
Shepherd                                    1972
Shetland Sheepdog / Sheltie                   54
Shiba Inu                                     60
Shih Tzu                                     421
Siberian Husky                               439
Silky Terrier                                 15
Skye Terrier                                   1
Smooth Collie                                  8
Smooth Fox Terrier                             4
Spaniel                                      148
Spinone Italiano                               1
Spitz                                         34
Staffordshire Bull Terrier                   390
Standard Poodle                               47
Standard Schnauzer                            14
Terrier                                     2641
Thai Ridgeback                                 3
Tibetan Mastiff                               10
Tibetan Spaniel                                9
Tibetan Terrier                                3
Tosa Inu                                       1
Toy Fox Terrier                               26
Treeing Walker Coonhound                     258
Vizsla                                        60
Weimaraner                                   126
West Highland White Terrier / Westie          19
Wheaten Terrier                               19
Whippet                                       83
White German Shepherd                         17
Wire Fox Terrier                              15
Wirehaired Dachshund                           4
Wirehaired Pointing Griffon                    1
Wirehaired Terrier                            60
Xoloitzcuintli / Mexican Hairless             11
Yellow Labrador Retriever                    158
Yorkshire Terrier                            360
dtype: int64

### 3. For each (primary) breed, determine the ratio between the number of dogs of `Mixed Breed` and those not of Mixed Breed. Hint: look at the `secondary_breed`.

In [9]:
total_number_and_mixed_breed = dogs.groupby('breed_primary')['breed_mixed'].agg({'count','sum'}).rename(columns= {'count':'total_number', 'sum': 'breed_mixed_number'})
total_number_and_mixed_breed

                                          total_number  breed_mixed_number
breed_primary
Affenpinscher                                       17                   5
Afghan Hound                                         4                   4
Airedale Terrier                                    19                  17
Akbash                                               3                   2
Akita                                              181                  83
Alaskan Malamute                                    72                  20
American Bulldog                                  1134                 881
American Eskimo Dog                                 43                  19
American Foxhound                                   17                  12
American Hairless Terrier                            4                   2
American Staffordshire Terrier                    1862                1307
Anatolian Shepherd                                 118                 107
Australian Cattle Dog / Blue Heeler                973                 749
Australian Kelpie                                   43                  39
Australian Shepherd                                696                 529
Australian Terrier                                  15                  15
Basenji                                             54                  51
Basset Hound                                       241                 195
Beagle                                            1539                1048
Bearded Collie                                       6                   5
Beauceron                                            4                   4
Belgian Shepherd / Laekenois                         1                   1
Belgian Shepherd / Malinois                         94                  51
Belgian Shepherd / Sheepdog                          3                   1
Belgian Shepherd / Tervuren                          2                   2
Bernese Mountain Dog                                20                  12
Bichon Frise                                        82                  47
Black Labrador Retriever                           545                 447
Black Mouth Cur                                    201                 173
Black and Tan Coonhound                             88                  59
Bloodhound                                          54                  39
Blue Lacy                                           13                   6
Bluetick Coonhound                                  92                  59
Boerboel                                             8                   7
Bolognese                                            1                   0
Border Collie                                      817                 679
Border Terrier                                      28                  27
Borzoi                                               6                   6
Boston Terrier                                     149                 114
Bouvier des Flandres                                 1                   1
Boxer                                             2050                1740
Boykin Spaniel                                       1                   1
Briard                                               1                   1
Brittany Spaniel                                    31                  26
Brussels Griffon                                    24                  19
Bull Terrier                                       176                 121
Bullmastiff                                         55                  36
Cairn Terrier                                       91                  72
Canaan Dog                                          17                  10
Cane Corso                                          83                  35
Cardigan Welsh Corgi                                26                  23
Carolina Dog                                        61                  49
Catahoula Leopard Dog                              488                 407
Cattle Dog                                         444                 369
Caucasian Sheepdog / Caucasian Ovtcharka             3                   2
Cavalier King Charles Spaniel                       23                  14
Chesapeake Bay Retriever                            23                  20
Chihuahua                                         3766                2329
Chinese Crested Dog                                 18                   6
Chinese Foo Dog                                      1                   0
Chinook                                              1                   0
Chocolate Labrador Retriever                       155                 108
Chow Chow                                          165                 131
Clumber Spaniel                                      4                   3
Cockapoo                                            17                   8
Cocker Spaniel                                     209                  72
Collie                                             236                 210
Coonhound                                          286                 177
Corgi                                              128                 117
Coton de Tulear                                      2                   1
Curly-Coated Retriever                               2                   1
Dachshund                                          853                 618
Dalmatian                                           77                  58
Doberman Pinscher                                  267                 153
Dogo Argentino                                      34                  13
Dogue de Bordeaux                                   22                   8
Dutch Shepherd                                      63                  53
English Bulldog                                    177                 101
English Cocker Spaniel                               2                   2
English Coonhound                                   30                  17
English Foxhound                                     4                   4
English Pointer                                     90                  21
English Setter                                      28                  17
English Shepherd                                    20                  15
English Springer Spaniel                            35                  11
Entlebucher                                          2                   2
Eskimo Dog                                           8                   5
Feist                                              139                 129
Field Spaniel                                        1                   1
Fila Brasileiro                                      1                   1
Finnish Spitz                                        5                   5
Flat-Coated Retriever                               43                  36
Fox Terrier                                         40                  32
Foxhound                                           100                  67
French Bulldog                                      46                  29
Galgo Spanish Greyhound                              8                   0
German Pinscher                                      7                   6
German Shepherd Dog                               2122                1251
German Shorthaired Pointer                          88                  63
German Spitz                                         2                   2
German Wirehaired Pointer                           10                   8
Giant Schnauzer                                      6                   2
Golden Retriever                                   203                 163
Gordon Setter                                        2                   2
Great Dane                                         334                 179
Great Pyrenees                                     481                 258
Greater Swiss Mountain Dog                           7                   6
Greyhound                                          306                  63
Harrier                                             14                  11
Havanese                                            24                  11
Hound                                             2282                1917
Husky                                              567                 417
Ibizan Hound                                         5                   3
Irish Setter                                         8                   7
Irish Terrier                                       17                  13
Irish Wolfhound                                     17                  13
Italian Greyhound                                   66                  40
Jack Russell Terrier                               637                 457
Japanese Chin                                       15                   8
Jindo                                               46                  34
Kai Dog                                              1                   1
Keeshond                                             4                   3
Kuvasz                                               1                   0
Kyi Leo                                              2                   1
Labrador Retriever                                7198                6144
Lakeland Terrier                                     5                   5
Lancashire Heeler                                    4                   3
Leonberger                                           1                   1
Lhasa Apso                                          60                  37
Maltese                                            183                 122
Manchester Terrier                                  39                  34
Maremma Sheepdog                                     4                   1
Mastiff                                            301                 219
McNab                                                5                   4
Miniature Dachshund                                  3                   3
Miniature Pinscher                                 317                 216
Miniature Poodle                                    12                   3
Miniature Schnauzer                                 26                   8
Mixed Breed                                       3242                1221
Mountain Cur                                       168                 137
Mountain Dog                                        16                  16
Neapolitan Mastiff                                   9                   4
Newfoundland Dog                                    26                  16
Norfolk Terrier                                      5                   4
Norwegian Buhund                                     2                   2
Norwegian Elkhound                                   6                   4
Norwich Terrier                                      6                   2
Nova Scotia Duck Tolling Retriever                   5                   4
Old English Sheepdog                                 1                   0
Otterhound                                           2                   2
Papillon                                            59                  48
Parson Russell Terrier                              70                  52
Patterdale Terrier / Fell Terrier                   16                   8
Pekingese                                           76                  40
Pembroke Welsh Corgi                                 9                   4
Petit Basset Griffon Vendeen                        12                   9
Pharaoh Hound                                       11                  11
Pit Bull Terrier                                  7890                5365
Plott Hound                                        265                 225
Pointer                                            367                 324
Pomeranian                                         252                 146
Poodle                                             304                 171
Portuguese Podengo                                   4                   2
Presa Canario                                       27                  14
Pug                                                255                 200
Rat Terrier                                        338                 258
Redbone Coonhound                                  104                  69
Retriever                                          538                 477
Rhodesian Ridgeback                                 74                  70
Rottweiler                                         533                 325
Rough Collie                                         6                   1
Saint Bernard                                      102                  61
Saluki                                              19                  15
Samoyed                                              8                   5
Schipperke                                          22                  19
Schnauzer                                          200                 147
Scottish Terrier                                    13                   7
Setter                                              10                   8
Shar-Pei                                           249                 218
Sheep Dog                                            3                   3
Shepherd                                          1972                1761
Shetland Sheepdog / Sheltie                         54                  26
Shiba Inu                                           60                  45
Shih Tzu                                           421                 213
Siberian Husky                                     439                 178
Silky Terrier                                       15                   6
Skye Terrier                                         1                   1
Smooth Collie                                        8                   7
Smooth Fox Terrier                                   4                   4
Spaniel                                            148                 136
Spinone Italiano                                     1                   1
Spitz                                               34                  33
Staffordshire Bull Terrier                         390                 290
Standard Poodle                                     47                  22
Standard Schnauzer                                  14                  10
Terrier                                           2641                2281
Thai Ridgeback                                       3                   3
Tibetan Mastiff                                     10                   4
Tibetan Spaniel                                      9                   8
Tibetan Terrier                                      3                   1
Tosa Inu                                             1                   0
Toy Fox Terrier                                     26                  19
Treeing Walker Coonhound                           258                 113
Vizsla                                              60                  58
Weimaraner                                         126                  76
West Highland White Terrier / Westie                19                  15
Wheaten Terrier                                     19                  14
Whippet                                             83                  77
White German Shepherd                               17                  13
Wire Fox Terrier                                    15                  13
Wirehaired Dachshund                                 4                   3
Wirehaired Pointing Griffon                          1                   1
Wirehaired Terrier                                  60                  45
Xoloitzcuintli / Mexican Hairless                   11                   5
Yellow Labrador Retriever                          158                 122
Yorkshire Terrier                                  360                 203

In [10]:
#Define the function compute_ratio, which compute the ratio between the number of dogs of Mixed Breed and those not of Mixed Breed
def compute_ratio(row):
    
    total_number = row['total_number']
    breed_mixed_number = row['breed_mixed_number']
    if total_number == breed_mixed_number:
        return 'NaN'
    return breed_mixed_number/(total_number - breed_mixed_number)

In [11]:
#apply the function compute_ratio to the current dataset.
total_number_and_mixed_breed['ratio']= total_number_and_mixed_breed.apply(compute_ratio, axis = 1)
total_number_and_mixed_breed.head()

                  total_number  breed_mixed_number     ratio
breed_primary
Affenpinscher               17                   5  0.416667
Afghan Hound                 4                   4       NaN
Airedale Terrier            19                  17       8.5
Akbash                       3                   2       2.0
Akita                      181                  83  0.846939

### 4. For each (primary) breed, determine the earliest and the latest `posted` timestamp.

In [12]:
#In order to compare the timestamps of dataset entries, we have to first parse 'posted' string values into the datetime type.
#Argument errors = 'coerce' sets the invalid parsing as 'NaT'
#Argument format = '%Y-%m-%dT%H:%M:%S.%f%z' speicifies the format of the string to be parsed
dogs['posted'] = pd.to_datetime(dogs['posted'], errors='coerce', format='%Y-%m-%dT%H:%M:%S.%f%z')


# For each (primary) breed, determine the earliest and the latest posted timestamp.
earliest_and_latest_timestamp = dogs.groupby(['breed_primary'])['posted'].agg({'max','min'})
earliest_and_latest_timestamp

,min,max
breed_primary,,
Affenpinscher,2012-03-08 10:27:33+00:00,2019-09-14 10:10:51+00:00
Afghan Hound,2017-06-29 23:28:51+00:00,2019-07-27 00:38:48+00:00
Airedale Terrier,2014-06-13 12:59:36+00:00,2019-09-19 18:40:39+00:00
Akbash,2019-07-21 00:35:59+00:00,2019-08-23 17:11:04+00:00
Akita,2012-03-03 09:31:08+00:00,2019-09-20 15:19:57+00:00
Alaskan Malamute,2015-02-24 13:18:06+00:00,2019-09-20 15:19:51+00:00
American Bulldog,2009-03-11 00:00:00+00:00,2019-09-20 16:06:25+00:00
American Eskimo Dog,2017-04-27 18:39:24+00:00,2019-09-20 00:15:25+00:00
American Foxhound,2019-02-06 03:06:20+00:00,2019-09-18 22:21:39+00:00
American Hairless Terrier,2013-07-03 10:05:41+00:00,2019-09-17 20:06:53+00:00
American Staffordshire Terrier,2007-10-07 00:00:00+00:00,2019-09-20 16:37:59+00:00
Anatolian Shepherd,2014-03-12 08:36:07+00:00,2019-09-20 13:36:10+00:00
Australian Cattle Dog / Blue Heeler,2010-11-13 00:00:00+00:00,2019-09-20 16:31:13+00:00
Australian Kelpie,2011-07-31 07:32:36+00:00,2019-09-20 02:18:47+00:00
Australian Shepherd,2008-11-06 00:00:00+00:00,2019-09-20 17:20:29+00:00
Australian Terrier,2017-02-17 16:34:02+00:00,2019-09-18 22:30:47+00:00
Basenji,2009-10-15 00:00:00+00:00,2019-09-19 22:16:30+00:00
Basset Hound,2011-11-11 13:27:32+00:00,2019-09-20 10:25:10+00:00
Beagle,2003-05-18 00:00:00+00:00,2019-09-20 16:35:18+00:00
Bearded Collie,2018-06-08 06:57:28+00:00,2019-09-16 10:09:34+00:00
Beauceron,2019-09-05 18:52:36+00:00,2019-09-20 03:27:37+00:00
Belgian Shepherd / Laekenois,2019-09-03 22:01:52+00:00,2019-09-03 22:01:52+00:00
Belgian Shepherd / Malinois,2014-04-05 20:03:13+00:00,2019-09-20 06:05:22+00:00
Belgian Shepherd / Sheepdog,2019-07-19 14:20:19+00:00,2019-09-17 20:34:08+00:00
Belgian Shepherd / Tervuren,2017-03-31 21:34:30+00:00,2019-09-02 15:58:23+00:00
Bernese Mountain Dog,2018-06-22 20:14:31+00:00,2019-09-20 14:30:30+00:00
Bichon Frise,2018-04-08 13:02:19+00:00,2019-09-19 02:28:13+00:00
Black Labrador Retriever,2008-06-25 00:00:00+00:00,2019-09-20 06:31:10+00:00
Black Mouth Cur,2009-10-15 00:00:00+00:00,2019-09-20 16:14:51+00:00
Black and Tan Coonhound,2013-07-29 01:49:30+00:00,2019-09-19 20:17:24+00:00
Bloodhound,2009-07-31 00:00:00+00:00,2019-09-18 14:49:41+00:00
Blue Lacy,2018-08-21 22:02:49+00:00,2019-09-20 13:19:51+00:00
Bluetick Coonhound,2010-03-18 00:00:00+00:00,2019-09-20 16:29:04+00:00
Boerboel,2016-11-06 21:22:40+00:00,2019-09-18 02:32:39+00:00
Bolognese,2019-09-14 21:06:30+00:00,2019-09-14 21:06:30+00:00
Border Collie,2008-02-08 00:00:00+00:00,2019-09-20 16:44:30+00:00
Border Terrier,2015-02-08 15:37:13+00:00,2019-09-20 03:21:30+00:00
Borzoi,2019-05-06 20:46:28+00:00,2019-09-18 20:06:58+00:00
Boston Terrier,2009-03-23 00:00:00+00:00,2019-09-20 10:02:48+00:00
Bouvier des Flandres,2019-09-20 09:54:21+00:00,2019-09-20 09:54:21+00:00
Boxer,2005-05-30 00:00:00+00:00,2019-09-20 16:06:38+00:00
Boykin Spaniel,2019-09-16 20:11:19+00:00,2019-09-16 20:11:19+00:00
Briard,2019-05-27 20:55:54+00:00,2019-05-27 20:55:54+00:00
Brittany Spaniel,2012-07-30 12:48:04+00:00,2019-09-19 13:07:03+00:00
Brussels Griffon,2015-07-11 01:29:10+00:00,2019-09-20 13:19:46+00:00
Bull Terrier,2011-12-02 18:47:41+00:00,2019-09-20 15:06:16+00:00
Bullmastiff,2015-05-26 00:21:37+00:00,2019-09-20 16:19:55+00:00
Cairn Terrier,2010-07-07 00:00:00+00:00,2019-09-20 10:07:25+00:00
Canaan Dog,2015-05-11 12:05:18+00:00,2019-09-17 23:11:56+00:00
Cane Corso,2015-11-02 18:23:55+00:00,2019-09-20 15:30:52+00:00
Cardigan Welsh Corgi,2018-09-24 02:10:03+00:00,2019-09-20 01:18:36+00:00
Carolina Dog,2009-04-16 00:00:00+00:00,2019-09-19 21:06:44+00:00
Catahoula Leopard Dog,2010-07-05 00:00:00+00:00,2019-09-20 16:19:36+00:00
Cattle Dog,2009-04-16 00:00:00+00:00,2019-09-20 16:28:05+00:00
Caucasian Sheepdog / Caucasian Ovtcharka,2019-01-05 16:55:30+00:00,2019-09-04 14:48:19+00:00
Cavalier King Charles Spaniel,2015-03-19 12:29:00+00:00,2019-09-19 21:59:10+00:00
Chesapeake Bay Retriever,2014-09-12 09:51:10+00:00,2019-09-20 00:18:28+00:00
Chihuahua,2007-11-11 00:00:00+00:00,2019-09-20 17:20:30+00:00
Chinese Crested Dog,2015-06-22 09:18:28+00:00,2019-09-19 20:06:20+00:00
Chinese Foo Dog,2019-09-13 10:30:17+00:00,2019-09-13 10:30:17+00:00
Chinook,2019-01-31 02:12:18+00:00,2019-01-31 02:12:18+00:00
Chocolate Labrador Retriever,2005-10-08 00:00:00+00:00,2019-09-20 07:24:20+00:00
Chow Chow,2011-09-18 13:42:46+00:00,2019-09-19 17:06:38+00:00
Clumber Spaniel,2019-06-19 20:40:51+00:00,2019-09-16 21:04:14+00:00
Cockapoo,2018-09-14 10:28:44+00:00,2019-09-20 14:29:47+00:00
Cocker Spaniel,2007-06-04 00:00:00+00:00,2019-09-20 17:20:30+00:00
Collie,2010-08-05 00:00:00+00:00,2019-09-20 15:20:02+00:00
Coonhound,2010-07-21 00:00:00+00:00,2019-09-20 10:02:48+00:00
Corgi,2009-10-06 00:00:00+00:00,2019-09-20 08:21:47+00:00
Coton de Tulear,2019-05-12 19:24:46+00:00,2019-07-08 14:34:25+00:00
Curly-Coated Retriever,2017-01-13 05:08:23+00:00,2019-05-23 12:33:12+00:00
Dachshund,2010-07-16 00:00:00+00:00,2019-09-20 16:28:40+00:00
Dalmatian,2004-02-29 00:00:00+00:00,2019-09-19 23:45:43+00:00
Doberman Pinscher,2009-06-16 00:00:00+00:00,2019-09-20 16:06:34+00:00
Dogo Argentino,2016-05-11 15:55:04+00:00,2019-09-20 03:50:26+00:00
Dogue de Bordeaux,2018-10-09 16:16:14+00:00,2019-09-14 10:40:49+00:00
Dutch Shepherd,2011-09-28 19:29:38+00:00,2019-09-20 10:13:39+00:00
English Bulldog,2012-11-20 13:48:45+00:00,2019-09-19 23:47:36+00:00
English Cocker Spaniel,2019-07-30 07:18:10+00:00,2019-09-18 22:57:37+00:00
English Coonhound,2014-02-11 21:42:31+00:00,2019-09-20 10:02:48+00:00
English Foxhound,2019-06-16 21:07:46+00:00,2019-09-20 03:45:02+00:00
English Pointer,2015-06-10 20:16:51+00:00,2019-09-18 10:53:58+00:00
English Setter,2018-11-24 15:30:58+00:00,2019-09-18 18:14:12+00:00
English Shepherd,2015-10-23 03:26:28+00:00,2019-09-19 14:21:17+00:00
English Springer Spaniel,2017-05-18 02:21:44+00:00,2019-09-17 14:10:06+00:00
Entlebucher,2018-05-28 16:19:05+00:00,2019-09-08 16:55:53+00:00
Eskimo Dog,2018-08-25 02:59:41+00:00,2019-09-13 00:02:03+00:00
Feist,2010-09-07 00:00:00+00:00,2019-09-20 05:00:07+00:00
Field Spaniel,2019-09-20 00:02:45+00:00,2019-09-20 00:02:45+00:00
Fila Brasileiro,2018-11-26 22:44:11+00:00,2018-11-26 22:44:11+00:00
Finnish Spitz,2019-04-22 00:39:42+00:00,2019-09-03 01:34:33+00:00
Flat-Coated Retriever,2018-08-03 15:41:00+00:00,2019-09-20 02:12:27+00:00
Fox Terrier,2017-04-06 20:17:45+00:00,2019-09-20 07:22:45+00:00
Foxhound,2008-02-13 00:00:00+00:00,2019-09-19 23:19:03+00:00
French Bulldog,2014-10-27 14:57:14+00:00,2019-09-20 15:47:29+00:00
Galgo Spanish Greyhound,2019-03-03 23:27:30+00:00,2019-09-14 16:01:21+00:00
German Pinscher,2013-10-11 17:07:51+00:00,2019-09-16 21:48:08+00:00
German Shepherd Dog,2006-10-05 00:00:00+00:00,2019-09-20 17:20:30+00:00
German Shorthaired Pointer,2008-09-10 00:00:00+00:00,2019-09-20 12:42:02+00:00
German Spitz,2019-07-27 00:45:47+00:00,2019-07-27 00:45:47+00:00
German Wirehaired Pointer,2017-03-27 16:17:11+00:00,2019-09-19 21:22:56+00:00
Giant Schnauzer,2018-12-03 20:38:42+00:00,2019-09-18 00:00:53+00:00
Golden Retriever,2007-02-13 00:00:00+00:00,2019-09-20 13:20:34+00:00
Gordon Setter,2019-07-31 17:27:03+00:00,2019-08-21 21:36:26+00:00
Great Dane,2008-09-08 00:00:00+00:00,2019-09-20 16:23:52+00:00
Great Pyrenees,2008-05-31 00:00:00+00:00,2019-09-20 13:14:12+00:00
Greater Swiss Mountain Dog,2018-07-30 12:24:59+00:00,2019-09-16 16:38:22+00:00
Greyhound,2005-09-26 00:00:00+00:00,2019-09-19 12:17:37+00:00
Harrier,2016-03-07 07:27:51+00:00,2019-09-18 20:14:25+00:00
Havanese,2016-09-14 07:00:30+00:00,2019-09-19 22:28:32+00:00
Hound,2009-11-18 00:00:00+00:00,2019-09-20 16:41:07+00:00
Husky,2008-06-11 00:00:00+00:00,2019-09-20 15:19:42+00:00
Ibizan Hound,2015-05-15 13:00:01+00:00,2019-09-19 21:38:07+00:00
Irish Setter,2019-06-05 15:42:38+00:00,2019-09-20 10:39:40+00:00
Irish Terrier,2016-05-03 12:24:11+00:00,2019-09-19 21:06:13+00:00
Irish Wolfhound,2014-02-10 08:51:37+00:00,2019-09-19 23:06:53+00:00
Italian Greyhound,2013-04-04 13:23:29+00:00,2019-09-20 06:42:30+00:00
Jack Russell Terrier,2011-01-03 11:06:01+00:00,2019-09-20 16:01:01+00:00
Japanese Chin,2010-05-04 00:00:00+00:00,2019-09-18 06:31:08+00:00
Jindo,2016-01-20 20:10:40+00:00,2019-09-19 02:24:45+00:00
Kai Dog,2019-06-13 17:02:37+00:00,2019-06-13 17:02:37+00:00
Keeshond,2017-06-11 18:13:23+00:00,2019-09-19 00:59:23+00:00
Kuvasz,2019-09-07 17:53:45+00:00,2019-09-07 17:53:45+00:00
Kyi Leo,2019-08-23 00:02:39+00:00,2019-09-10 18:37:48+00:00
Labrador Retriever,2006-12-28 00:00:00+00:00,2019-09-20 17:32:30+00:00
Lakeland Terrier,2019-09-01 04:44:34+00:00,2019-09-06 02:41:55+00:00
Lancashire Heeler,2019-04-05 14:59:30+00:00,2019-07-17 04:13:04+00:00
Leonberger,2017-07-05 08:06:13+00:00,2017-07-05 08:06:13+00:00
Lhasa Apso,2010-09-02 00:00:00+00:00,2019-09-20 15:15:40+00:00
Maltese,2013-05-11 13:50:59+00:00,2019-09-20 15:19:38+00:00
Manchester Terrier,2017-04-03 21:10:56+00:00,2019-09-20 16:25:02+00:00
Maremma Sheepdog,2016-01-05 01:32:55+00:00,2019-07-23 20:24:52+00:00
Mastiff,2010-03-13 00:00:00+00:00,2019-09-20 15:29:25+00:00
McNab,2015-06-29 19:54:12+00:00,2019-09-14 06:31:23+00:00
Miniature Dachshund,2018-11-04 21:45:30+00:00,2019-07-30 16:02:39+00:00
Miniature Pinscher,2006-04-20 00:00:00+00:00,2019-09-20 17:20:30+00:00
Miniature Poodle,2018-12-09 22:50:49+00:00,2019-09-19 20:26:17+00:00
Miniature Schnauzer,2018-01-16 04:17:54+00:00,2019-09-19 23:30:15+00:00
Mixed Breed,2014-10-27 14:45:16+00:00,2019-09-20 16:31:14+00:00
Mountain Cur,2012-08-30 21:58:53+00:00,2019-09-20 13:06:20+00:00
Mountain Dog,2019-03-17 05:23:31+00:00,2019-09-17 06:00:26+00:00
Neapolitan Mastiff,2016-10-10 22:14:24+00:00,2019-09-18 19:24:06+00:00
Newfoundland Dog,2017-08-12 23:43:07+00:00,2019-09-19 21:17:31+00:00
Norfolk Terrier,2017-12-08 23:59:12+00:00,2019-09-18 23:39:59+00:00
Norwegian Buhund,2019-07-04 16:54:50+00:00,2019-08-02 21:17:01+00:00
Norwegian Elkhound,2010-03-18 00:00:00+00:00,2019-09-16 20:08:56+00:00
Norwich Terrier,2019-04-11 01:03:56+00:00,2019-09-20 15:19:38+00:00
Nova Scotia Duck Tolling Retriever,2019-04-17 02:02:39+00:00,2019-09-18 03:16:54+00:00
Old English Sheepdog,2019-08-22 14:39:21+00:00,2019-08-22 14:39:21+00:00
Otterhound,2008-03-14 00:00:00+00:00,2019-09-12 10:25:36+00:00
Papillon,2014-06-14 13:33:41+00:00,2019-09-20 17:20:28+00:00
Parson Russell Terrier,2006-01-31 00:00:00+00:00,2019-09-20 15:19:43+00:00
Patterdale Terrier / Fell Terrier,2019-03-23 02:04:24+00:00,2019-09-20 13:35:51+00:00
Pekingese,2009-02-21 00:00:00+00:00,2019-09-20 16:15:55+00:00
Pembroke Welsh Corgi,2019-06-18 21:24:56+00:00,2019-09-15 16:38:56+00:00
Petit Basset Griffon Vendeen,2017-10-18 15:53:16+00:00,2019-09-17 23:11:56+00:00
Pharaoh Hound,2018-03-06 00:40:26+00:00,2019-09-17 23:12:05+00:00
Pit Bull Terrier,2007-01-11 00:00:00+00:00,2019-09-20 17:20:30+00:00
Plott Hound,2011-01-01 22:33:18+00:00,2019-09-20 16:22:41+00:00
Pointer,2010-04-05 00:00:00+00:00,2019-09-20 14:28:24+00:00
Pomeranian,2013-01-29 09:32:11+00:00,2019-09-20 14:47:03+00:00
Poodle,2011-02-03 16:25:46+00:00,2019-09-20 17:20:29+00:00
Portuguese Podengo,2019-01-31 18:03:01+00:00,2019-09-15 08:57:36+00:00
Presa Canario,2016-10-08 18:20:52+00:00,2019-09-19 14:30:13+00:00
Pug,2010-10-09 00:00:00+00:00,2019-09-20 09:25:08+00:00
Rat Terrier,2005-10-03 00:00:00+00:00,2019-09-20 16:31:13+00:00
Redbone Coonhound,2011-09-13 20:40:00+00:00,2019-09-20 12:19:33+00:00
Retriever,2011-01-01 13:33:56+00:00,2019-09-20 16:07:02+00:00
Rhodesian Ridgeback,2010-07-23 00:00:00+00:00,2019-09-20 13:19:51+00:00
Rottweiler,2009-11-19 00:00:00+00:00,2019-09-20 16:00:27+00:00
Rough Collie,2017-12-05 12:07:40+00:00,2019-07-09 04:04:40+00:00
Saint Bernard,2012-06-07 16:20:39+00:00,2019-09-19 17:41:48+00:00
Saluki,2018-02-14 22:10:07+00:00,2019-09-20 02:45:10+00:00
Samoyed,2019-03-16 18:06:37+00:00,2019-09-11 10:15:07+00:00
Schipperke,2018-01-22 00:06:07+00:00,2019-09-19 18:40:07+00:00
Schnauzer,2011-10-22 16:51:30+00:00,2019-09-20 17:20:20+00:00
Scottish Terrier,2015-02-02 15:48:08+00:00,2019-09-12 22:54:07+00:00
Setter,2017-04-17 15:41:41+00:00,2019-09-18 00:00:57+00:00
Shar-Pei,2009-01-13 00:00:00+00:00,2019-09-20 15:19:57+00:00
Sheep Dog,2019-03-20 16:26:48+00:00,2019-09-19 13:53:45+00:00
Shepherd,2006-02-23 00:00:00+00:00,2019-09-20 17:16:14+00:00
Shetland Sheepdog / Sheltie,2016-07-10 09:37:04+00:00,2019-09-20 06:30:51+00:00
Shiba Inu,2016-02-22 23:53:06+00:00,2019-09-20 10:13:36+00:00
Shih Tzu,2008-09-25 00:00:00+00:00,2019-09-20 15:09:34+00:00
Siberian Husky,2011-01-14 21:58:52+00:00,2019-09-20 15:19:51+00:00
Silky Terrier,2018-07-17 23:01:48+00:00,2019-09-20 04:00:38+00:00
Skye Terrier,2019-01-18 19:51:21+00:00,2019-01-18 19:51:21+00:00
Smooth Collie,2019-01-16 15:10:45+00:00,2019-09-18 06:32:36+00:00
Smooth Fox Terrier,2011-11-15 04:00:50+00:00,2019-09-05 00:02:46+00:00
Spaniel,2007-06-18 00:00:00+00:00,2019-09-20 13:38:51+00:00
Spinone Italiano,2019-09-13 19:49:38+00:00,2019-09-13 19:49:38+00:00
Spitz,2011-03-28 20:15:41+00:00,2019-09-20 00:04:59+00:00
Staffordshire Bull Terrier,2008-03-20 00:00:00+00:00,2019-09-20 16:18:04+00:00
Standard Poodle,2018-07-17 23:01:48+00:00,2019-09-20 12:41:58+00:00
Standard Schnauzer,2018-10-08 02:38:55+00:00,2019-09-18 18:33:04+00:00
Terrier,2006-10-17 00:00:00+00:00,2019-09-20 16:13:16+00:00
Thai Ridgeback,2019-04-10 16:42:47+00:00,2019-05-11 12:51:57+00:00
Tibetan Mastiff,2018-10-06 22:09:26+00:00,2019-09-15 03:40:09+00:00
Tibetan Spaniel,2012-10-04 16:24:58+00:00,2019-09-18 19:31:48+00:00
Tibetan Terrier,2019-08-18 17:03:34+00:00,2019-09-12 04:16:47+00:00
Tosa Inu,2019-09-04 00:48:24+00:00,2019-09-04 00:48:24+00:00
Toy Fox Terrier,2013-12-12 20:05:04+00:00,2019-09-15 12:16:37+00:00
Treeing Walker Coonhound,2009-03-03 00:00:00+00:00,2019-09-20 16:15:54+00:00
Vizsla,2016-06-13 22:14:52+00:00,2019-09-19 02:15:18+00:00
Weimaraner,2012-05-24 12:32:25+00:00,2019-09-20 16:07:01+00:00
West Highland White Terrier / Westie,2008-03-31 00:00:00+00:00,2019-09-15 18:38:43+00:00
Wheaten Terrier,2018-06-25 19:37:22+00:00,2019-09-19 01:15:15+00:00
Whippet,2017-01-27 17:25:06+00:00,2019-09-18 20:28:42+00:00
White German Shepherd,2016-09-03 00:21:06+00:00,2019-09-11 14:55:05+00:00
Wire Fox Terrier,2013-12-11 17:08:03+00:00,2019-09-16 18:36:29+00:00
Wirehaired Dachshund,2019-04-08 23:12:04+00:00,2019-09-17 22:15:16+00:00
Wirehaired Pointing Griffon,2016-06-29 20:03:55+00:00,2016-06-29 20:03:55+00:00
Wirehaired Terrier,2012-11-27 14:07:54+00:00,2019-09-19 22:52:45+00:00
Xoloitzcuintli / Mexican Hairless,2007-02-01 00:00:00+00:00,2019-09-08 11:15:54+00:00
Yellow Labrador Retriever,2010-05-31 00:00:00+00:00,2019-09-20 06:30:27+00:00
Yorkshire Terrier,2012-02-04 17:14:52+00:00,2019-09-20 16:56:38+00:00

### 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [13]:
dogs.head(1)

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,color_secondary,color_tertiary,age,sex,size,coat,fixed,house_trained,declawed,special_needs,shots_current,env_children,env_dogs,env_cats,name,status,posted,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/nv/las-vegas/animal-network-nv163/?referrer_id=87b31e7d-4508-41d1-95ff-fdb59b9d4669,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,Yellow / Tan / Blond / Fawn,NaN,Senior,Male,Medium,Short,True,True,NaN,False,True,NaN,NaN,NaN,HARLEY,adoptable,2019-09-20 16:37:59+00:00,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter in his senior years but as you see from the pictures the shelter asked if we could find a real home for this active senior boy. You would never know he is 9 years old. Very playful and loves humans an...,70,124.81

We check what values the affected columns can take, we create a function instead of 'unique' method because it return values follow by ',' and it will be easy to copy for replace

In [14]:
def unique(lista):
  uniq = []
  for x in lista:
      if x not in uniq:
          uniq.append(x)
  return uniq

In [15]:
print(unique(dogs['sex']))
print(unique(dogs['stateQ']))

['Male', 'Female', 'Unknown']
['89009', '2019-09-20', '89014', '89024', '89027', '89121', '89406', '89408', '89423', '89431', '89451', '89801', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

We noticed inconsistent values from 'stateQ' and 'sex', we switch them into NaN values

In [16]:
import numpy as np
dogs['sex'].replace('Unknown', np.NaN, inplace = True)
dogs['stateQ'].replace(['89009', '2019-09-20', '89014', '89024', '89027', '89121', '89406', '89408', '89423', '89431', '89451', '89801'],np.NaN, inplace = True)

In [17]:
print(unique(dogs['sex']))
print(unique(dogs['stateQ']))

['Male', 'Female', nan]
[nan, 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In the last code we prefer to not drop row with incosistent values, because maybe these raw will be usefull in future, but now we create a copy of dataset with the interested columns and we drop NaN values.

Then we create two boolean columns name 'Male' and 'Female' where values 1 means yes and naturalli 0 means no.

In [18]:
sex_imb = dogs.loc[:, ('stateQ', 'sex')]

sex_imb.dropna(inplace = True)  

sex_imb['Male'], sex_imb['Female'] = sex_imb['sex'], sex_imb['sex']
sex_imb['Male'][sex_imb['Male'] == 'Male'] = 1
sex_imb['Male'][sex_imb['Male'] == 'Female'] =0
sex_imb['Female'][sex_imb['Female'] == 'Female'] = 1
sex_imb['Female'][sex_imb['Female'] == 'Male'] = 0
sex_imb[['Male','Female']]= sex_imb[['Male','Female']].astype(int)
sex_imb.drop(columns = ['sex'], inplace = True)
sex_imb.head()

     stateQ  Male  Female
1859     AK     1       0
1860     AK     0       1
1861     AK     1       0
1862     AK     0       1
1863     AK     1       0

In [19]:
sex_imb.isnull().sum()

stateQ    0
Male      0
Female    0
dtype: int64

After check NaN we grtouped by 'StateQ' and we sum values in 'Male' and 'Female' columns

In [20]:
sex_imb_grouped = sex_imb.groupby('stateQ')[['Male','Female']].sum()
sex_imb_grouped.head()

        Male  Female
stateQ
AK         8       7
AL       509     534
AR       344     351
AZ      1142    1026
CA       532     496

Create a column name 'imbalance' and sort values, this imbalance is largest in DC state

In [21]:
sex_imb_grouped['imbalance'] = abs(sex_imb_grouped['Male'] - sex_imb_grouped['Female'])
sex_imb_grouped.sort_values(by = ['imbalance'], ascending = False).head()

        Male  Female  imbalance
stateQ
DC      2448    2217        231
KY       936     734        202
IN      1044     873        171
NJ      1008     855        153
CT      3439    3286        153

### 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [22]:
print(unique(dogs['age']))
print(unique(dogs['size']))

['Senior', 'Adult', 'Baby', 'Young']
['Medium', 'Large', 'Small', 'Extra Large']

In [23]:
stay = dogs.loc[:,('age','size','stay_duration','stay_cost')]
stay.head()

      age    size  stay_duration  stay_cost
0  Senior  Medium             70     124.81
1   Adult   Large             49     122.07
2   Adult   Large             87     281.51
3    Baby   Large             62     145.83
4   Young   Small             93     241.09

In [24]:
stay_grouped = stay.groupby(['age','size']).mean().rename(columns = {'stay_duration':'duration_average','stay_cost':'cost_average'}).round(2)
stay_grouped

                    duration_average  cost_average
age    size
Adult  Extra Large             89.02        232.59
       Large                   89.53        238.66
       Medium                  89.42        238.26
       Small                   89.41        238.97
Baby   Extra Large             87.03        237.18
       Large                   89.70        238.70
       Medium                  89.58        237.11
       Small                   89.96        239.08
Senior Extra Large             88.86        235.23
       Large                   88.98        237.51
       Medium                  89.81        238.51
       Small                   89.07        238.28
Young  Extra Large             90.59        245.84
       Large                   90.10        238.15
       Medium                  89.52        239.30
       Small                   89.81        241.54

### 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [25]:
travels.head()

,id,contact_city,contact_state,description,found,manual,remove,still_there
index,,,,,,,,
0,44520267,Anoka,MN,"Boris is a handsome mini schnauzer who made his long trek up her from Arkansas on 4/2019. He loves rope toys and running around his foster mom's yard. \n\nHe is 4 years old, just under 10 pounds, and is a special needs dog. He needs vitamin B-12 ...",Arkansas,NaN,NaN,NaN
1,44698509,Groveland,FL,"Duke is an almost 2 year old Potcake from Abacos in the Bahamas. He is a happy boy, who loves his toys and bones, getting loving, riding in the car, snuggling on the couch and is a bit of a prankster. We suggest a home without other dogs because ...",Abacos,Bahamas,NaN,NaN
2,45983838,Adamstown,MD,"Zac Woof-ron is a heartthrob movie star looking to settle down with the right person! \n\nAs you know from his movie career, Zac is a 2-year-old, purebred red heeler male, about 37 pounds and high energy. After finishing his press tour for his la...",Adam,Maryland,NaN,NaN
3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from another rescue ~~Interacted with other dogs and was cautious around them ~~Unknown if he has had a chance to meet children or cats ~~Slow and proper introductions are recommended; ask a staff member for...,Adaptil,NaN,True,NaN
4,43877389,Pueblo,CO,"Palang is such a sweetheart. She loves her people very much and likes getting loved on. She can be shy at first. She came from Afghanistan so we arenât sure of her breed. She is partially deaf. She does have a bite history, so will need a home ...",Afghanistan,NaN,NaN,NaN

In [26]:
dogs.columns

Index(['id', 'org_id', 'url', 'type.x', 'species', 'breed_primary',
       'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary',
       'color_secondary', 'color_tertiary', 'age', 'sex', 'size', 'coat',
       'fixed', 'house_trained', 'declawed', 'special_needs', 'shots_current',
       'env_children', 'env_dogs', 'env_cats', 'name', 'status', 'posted',
       'contact_city', 'contact_state', 'contact_zip', 'contact_country',
       'stateQ', 'accessed', 'type.y', 'description', 'stay_duration',
       'stay_cost'],
      dtype='object')

There is a key column name 'id' in both dataset, so we use it to merge

In [27]:
travels_breed = travels.merge(dogs, on='id').groupby(['breed_primary','id'])['id'].agg({'count'}).rename(columns = {'count' : 'num_travels'})
travels_breed[travels_breed['num_travels'] >= 3]

                                    num_travels
breed_primary             id
Alaskan Malamute          33218331            7
                          36978896            7
                          43618547            3
                          44070616            7
                          44572953            7
...                                         ...
Yellow Labrador Retriever 45831337            3
                          45831437            3
Yorkshire Terrier         45764737            3
                          45971387            3
                          46038194            3

[563 rows x 1 columns]

### 8. Fix the `travels` table so that the correct state is computed from  the `manual` and the `found` fields. If `manual` is not missing, then it overrides what is stored in `found`.

Create a subset named 'travels_fix' with only the feature we need

In [28]:
travels_fix = travels.loc[:,('found','manual')]
travels_fix

             found    manual
index
0         Arkansas       NaN
1           Abacos   Bahamas
2             Adam  Maryland
3          Adaptil       NaN
4      Afghanistan       NaN
...            ...       ...
6189            WV       NaN
6190       Wyoming       NaN
6191        Yazmin       NaN
6192         Young      Ohio
6193          Zazu       NaN

[6194 rows x 2 columns]

Create an algorithm that add to our dataset a column name 'state' computed by 'found' and 'manual', if 'manual' is missing, then it will be replace by 'found' value

In [29]:
index = 0
state = []
while index < ((travels_fix.shape[0])-1):
  for n in travels_fix.loc[index]:
    if travels_fix.isnull().loc[index][1] == True:
      state.append(travels_fix['found'][index])
    else:
      state.append(travels_fix['manual'][index])
    index += 1
travels_fix.insert(2,'state',state)

In [30]:
travels.insert(6,'state',travels_fix['state'])

In [31]:
travels.head()

,id,contact_city,contact_state,description,found,manual,state,remove,still_there
index,,,,,,,,,
0,44520267,Anoka,MN,"Boris is a handsome mini schnauzer who made his long trek up her from Arkansas on 4/2019. He loves rope toys and running around his foster mom's yard. \n\nHe is 4 years old, just under 10 pounds, and is a special needs dog. He needs vitamin B-12 ...",Arkansas,NaN,Arkansas,NaN,NaN
1,44698509,Groveland,FL,"Duke is an almost 2 year old Potcake from Abacos in the Bahamas. He is a happy boy, who loves his toys and bones, getting loving, riding in the car, snuggling on the couch and is a bit of a prankster. We suggest a home without other dogs because ...",Abacos,Bahamas,Bahamas,NaN,NaN
2,45983838,Adamstown,MD,"Zac Woof-ron is a heartthrob movie star looking to settle down with the right person! \n\nAs you know from his movie career, Zac is a 2-year-old, purebred red heeler male, about 37 pounds and high energy. After finishing his press tour for his la...",Adam,Maryland,Maryland,NaN,NaN
3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from another rescue ~~Interacted with other dogs and was cautious around them ~~Unknown if he has had a chance to meet children or cats ~~Slow and proper introductions are recommended; ask a staff member for...,Adaptil,NaN,Adaptil,True,NaN
4,43877389,Pueblo,CO,"Palang is such a sweetheart. She loves her people very much and likes getting loved on. She can be shy at first. She came from Afghanistan so we arenât sure of her breed. She is partially deaf. She does have a bite history, so will need a home ...",Afghanistan,NaN,Afghanistan,NaN,NaN

### 9. For each state, compute the ratio between the number of travels and the population.

In [32]:
state_list_name = nst['state'].unique()
state_list_abbreviation = travels['contact_state'].unique()

In [33]:
print(state_list_name)
print(state_list_abbreviation)

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']
['MN' 'FL' 'MD' 'CO' 'CT' 'OH' 'AL' 'NY' 'NJ' 'PA' 'VA' 'GA' 'ME' 'NH'
 'MI' 'VT' 'TN' 'WI' 'NM' 'OR' 'WA' 'IA' 'KY' 'NV' 'UT' 'AZ' 'NC' 'AR'
 'MA' 'RI' 'OK' 'CA' 'IN' 'SC' 'IL' 'MO' 'TX' 'DC' 'KS' 'DE' 'WV' 'NB'
 'MS' 'LA' '17325']

In [34]:
#Aggiungo al dataframe 'nst' la colonna 'state_abbreviation', associando ad ogni stato la propria sigla di 2 lettere. In questo modo potrà essere "agganciata" al dataframe travels.

us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

nst['contact_state'] = nst['state'].map(us_state_to_abbrev)
nst

                   state         pop contact_state
0                Alabama   5.024.279            AL
1                 Alaska     733.391            AK
2                Arizona   7.151.502            AZ
3               Arkansas   3.011.524            AR
4             California  39.538.223            CA
5               Colorado   5.773.714            CO
6            Connecticut   3.605.944            CT
7               Delaware     989.948            DE
8   District of Columbia     689.545            DC
9                Florida  21.538.187            FL
10               Georgia  10.711.908            GA
11                Hawaii   1.455.271            HI
12                 Idaho   1.839.106            ID
13              Illinois  12.812.508            IL
14               Indiana   6.785.528            IN
15                  Iowa   3.190.369            IA
16                Kansas   2.937.880            KS
17              Kentucky   4.505.836            KY
18             Louisiana   4.657.757            LA
19                 Maine   1.362.359            ME
20              Maryland   6.177.224            MD
21         Massachusetts   7.029.917            MA
22              Michigan  10.077.331            MI
23             Minnesota   5.706.494            MN
24           Mississippi   2.961.279            MS
25              Missouri   6.154.913            MO
26               Montana   1.084.225            MT
27              Nebraska   1.961.504            NE
28                Nevada   3.104.614            NV
29         New Hampshire   1.377.529            NH
30            New Jersey   9.288.994            NJ
31            New Mexico   2.117.522            NM
32              New York  20.201.249            NY
33        North Carolina  10.439.388            NC
34          North Dakota     779.094            ND
35                  Ohio  11.799.448            OH
36              Oklahoma   3.959.353            OK
37                Oregon   4.237.256            OR
38          Pennsylvania  13.002.700            PA
39          Rhode Island   1.097.379            RI
40        South Carolina   5.118.425            SC
41          South Dakota     886.667            SD
42             Tennessee   6.910.840            TN
43                 Texas  29.145.505            TX
44                  Utah   3.271.616            UT
45               Vermont     643.077            VT
46              Virginia   8.631.393            VA
47            Washington   7.705.281            WA
48         West Virginia   1.793.716            WV
49             Wisconsin   5.893.718            WI
50               Wyoming     576.851            WY

In [35]:
#riordino le colonne 

nst_state = nst[['state', 'contact_state', 'pop']]
nst_state

                   state contact_state         pop
0                Alabama            AL   5.024.279
1                 Alaska            AK     733.391
2                Arizona            AZ   7.151.502
3               Arkansas            AR   3.011.524
4             California            CA  39.538.223
5               Colorado            CO   5.773.714
6            Connecticut            CT   3.605.944
7               Delaware            DE     989.948
8   District of Columbia            DC     689.545
9                Florida            FL  21.538.187
10               Georgia            GA  10.711.908
11                Hawaii            HI   1.455.271
12                 Idaho            ID   1.839.106
13              Illinois            IL  12.812.508
14               Indiana            IN   6.785.528
15                  Iowa            IA   3.190.369
16                Kansas            KS   2.937.880
17              Kentucky            KY   4.505.836
18             Louisiana            LA   4.657.757
19                 Maine            ME   1.362.359
20              Maryland            MD   6.177.224
21         Massachusetts            MA   7.029.917
22              Michigan            MI  10.077.331
23             Minnesota            MN   5.706.494
24           Mississippi            MS   2.961.279
25              Missouri            MO   6.154.913
26               Montana            MT   1.084.225
27              Nebraska            NE   1.961.504
28                Nevada            NV   3.104.614
29         New Hampshire            NH   1.377.529
30            New Jersey            NJ   9.288.994
31            New Mexico            NM   2.117.522
32              New York            NY  20.201.249
33        North Carolina            NC  10.439.388
34          North Dakota            ND     779.094
35                  Ohio            OH  11.799.448
36              Oklahoma            OK   3.959.353
37                Oregon            OR   4.237.256
38          Pennsylvania            PA  13.002.700
39          Rhode Island            RI   1.097.379
40        South Carolina            SC   5.118.425
41          South Dakota            SD     886.667
42             Tennessee            TN   6.910.840
43                 Texas            TX  29.145.505
44                  Utah            UT   3.271.616
45               Vermont            VT     643.077
46              Virginia            VA   8.631.393
47            Washington            WA   7.705.281
48         West Virginia            WV   1.793.716
49             Wisconsin            WI   5.893.718
50               Wyoming            WY     576.851

In [36]:
#trovo il numero di viaggi per ogni stato. Rinomino la colonna count in 'num_travles'

travels_state = travels.groupby(['contact_state'])['id'].agg({'count'}).rename(columns = {'count' : 'num_travels'})
travels_state

               num_travels
contact_state
17325                   10
AL                      75
AR                      10
AZ                      70
CA                      28
CO                     103
CT                      90
DC                     112
DE                      57
FL                     133
GA                     109
IA                      22
IL                      37
IN                      65
KS                       3
KY                      31
LA                       5
MA                     107
MD                     379
ME                     361
MI                      67
MN                     190
MO                      42
MS                       6
NB                       2
NC                     187
NH                      44
NJ                     552
NM                      82
NV                      20
NY                     490
OH                     177
OK                      31
OR                      32
PA                     316
RI                     130
SC                      21
TN                     112
TX                       2
UT                      66
VA                    1025
VT                      49
WA                     634
WI                      83
WV                      27

In [37]:
nst_travels_POP = nst_state.merge(travels_state,left_on='contact_state', right_on='contact_state')
nst_travels_POP

                   state contact_state         pop  num_travels
0                Alabama            AL   5.024.279           75
1                Arizona            AZ   7.151.502           70
2               Arkansas            AR   3.011.524           10
3             California            CA  39.538.223           28
4               Colorado            CO   5.773.714          103
5            Connecticut            CT   3.605.944           90
6               Delaware            DE     989.948           57
7   District of Columbia            DC     689.545          112
8                Florida            FL  21.538.187          133
9                Georgia            GA  10.711.908          109
10              Illinois            IL  12.812.508           37
11               Indiana            IN   6.785.528           65
12                  Iowa            IA   3.190.369           22
13                Kansas            KS   2.937.880            3
14              Kentucky            KY   4.505.836           31
15             Louisiana            LA   4.657.757            5
16                 Maine            ME   1.362.359          361
17              Maryland            MD   6.177.224          379
18         Massachusetts            MA   7.029.917          107
19              Michigan            MI  10.077.331           67
20             Minnesota            MN   5.706.494          190
21           Mississippi            MS   2.961.279            6
22              Missouri            MO   6.154.913           42
23                Nevada            NV   3.104.614           20
24         New Hampshire            NH   1.377.529           44
25            New Jersey            NJ   9.288.994          552
26            New Mexico            NM   2.117.522           82
27              New York            NY  20.201.249          490
28        North Carolina            NC  10.439.388          187
29                  Ohio            OH  11.799.448          177
30              Oklahoma            OK   3.959.353           31
31                Oregon            OR   4.237.256           32
32          Pennsylvania            PA  13.002.700          316
33          Rhode Island            RI   1.097.379          130
34        South Carolina            SC   5.118.425           21
35             Tennessee            TN   6.910.840          112
36                 Texas            TX  29.145.505            2
37                  Utah            UT   3.271.616           66
38               Vermont            VT     643.077           49
39              Virginia            VA   8.631.393         1025
40            Washington            WA   7.705.281          634
41         West Virginia            WV   1.793.716           27
42             Wisconsin            WI   5.893.718           83

In [38]:
#converto in numero interi la colonna pop per poter calcolare il ratio
nst_travels_POP['pop'] = nst_travels_POP['pop'].str.replace('.', '').astype(int)

/var/folders/2_/6cn6dqsx3rs84glnkz4xs3nw0000gn/T/ipykernel_41025/4218159615.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  nst_travels_POP['pop'] = nst_travels_POP['pop'].str.replace('.', '').astype(int)

In [39]:
#definisco la funzione per calcolare il ratio

def compute_ratio_travels(row):
  
    pop = row['pop']
    num_travels = row['num_travels']
   
    return num_travels/pop

In [40]:
#eseguo la funzione 

nst_travels_POP['ratio_travels&pop']= nst_travels_POP.apply(compute_ratio_travels, axis = 1)
nst_travels_POP

,state,contact_state,pop,num_travels,ratio_travels&pop
0,Alabama,AL,5024279,75,1.492751e-05
1,Arizona,AZ,7151502,70,9.788154e-06
2,Arkansas,AR,3011524,10,3.320578e-06
3,California,CA,39538223,28,7.081755e-07
4,Colorado,CO,5773714,103,1.783947e-05
5,Connecticut,CT,3605944,90,2.495879e-05
6,Delaware,DE,989948,57,5.757878e-05
7,District of Columbia,DC,689545,112,1.624259e-04
8,Florida,FL,21538187,133,6.175079e-06
9,Georgia,GA,10711908,109,1.017559e-05
10,Illinois,IL,12812508,37,2.887803e-06
11,Indiana,IN,6785528,65,9.579210e-06
12,Iowa,IA,3190369,22,6.895754e-06
13,Kansas,KS,2937880,3,1.021144e-06
14,Kentucky,KY,4505836,31,6.879966e-06
15,Louisiana,LA,4657757,5,1.073478e-06
16,Maine,ME,1362359,361,2.649816e-04
17,Maryland,MD,6177224,379,6.135442e-05
18,Massachusetts,MA,7029917,107,1.522066e-05
19,Michigan,MI,10077331,67,6.648586e-06
20,Minnesota,MN,5706494,190,3.329540e-05
21,Mississippi,MS,2961279,6,2.026152e-06
22,Missouri,MO,6154913,42,6.823817e-06
23,Nevada,NV,3104614,20,6.442025e-06
24,New Hampshire,NH,1377529,44,3.194125e-05
25,New Jersey,NJ,9288994,552,5.942516e-05
26,New Mexico,NM,2117522,82,3.872451e-05
27,New York,NY,20201249,490,2.425593e-05
28,North Carolina,NC,10439388,187,1.791293e-05
29,Ohio,OH,11799448,177,1.500070e-05
30,Oklahoma,OK,3959353,31,7.829562e-06
31,Oregon,OR,4237256,32,7.552057e-06
32,Pennsylvania,PA,13002700,316,2.430264e-05
33,Rhode Island,RI,1097379,130,1.184641e-04
34,South Carolina,SC,5118425,21,4.102825e-06
35,Tennessee,TN,6910840,112,1.620642e-05
36,Texas,TX,29145505,2,6.862122e-08
37,Utah,UT,3271616,66,2.017352e-05
38,Vermont,VT,643077,49,7.619616e-05
39,Virginia,VA,8631393,1025,1.187526e-04
40,Washington,WA,7705281,634,8.228123e-05
41,West Virginia,WV,1793716,27,1.505255e-05
42,Wisconsin,WI,5893718,83,1.408279e-05

### 10. For each dog, compute the number of days from the `posted` day to the day of last access.

### 11. Partition the dogs according to the number of weeks from the `posted` day to the day of last access.

### 12. Find for duplicates in the `dogs` dataset. Two records are duplicates if they have (1) same breeds and sex, and (2) they share at least 90% of the words in the description field. Extra points if you find and implement a more refined for determining if two rows are duplicates.